Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-avoid-magic-numbers,
        -misc-non-private-member-variables-in-classes,
        -readability-uppercase-literal-suffix,
        -readability-identifier-length,
        -readability-magic-numbers,
        -bugprone-easily-swappable-parameters,
        -hicpp-uppercase-literal-suffix,
        -modernize-pass-by-value
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none