Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-type-union-access,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -misc-include-cleaner,,
        -modernize-pass-by-value
        -readability-identifier-length,
        -readability-magic-numbers,
"

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none

CheckOptions:
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true