[submodule "ext/Vulkan-Hpp"]
	path = ext/Vulkan-Hpp
	url = git@github.com:KhronosGroup/Vulkan-Hpp.git
	branch = main
[submodule "ext/fmt"]
	path = ext/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = git@github.com:glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = git@github.com:g-truc/glm.git
[submodule "ext/imgui-cmake/imgui"]
	path = ext/imgui-cmake/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "ext/implot-cmake/implot"]
	path = ext/implot-cmake/implot
	url = git@github.com:epezent/implot.git
[submodule "ext/portable-file-dialogs"]
	path = ext/portable-file-dialogs
	url = git@github.com:samhocevar/portable-file-dialogs.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = git@github.com:assimp/assimp.git
